/* body {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  /* background-color: #cfdae4; */
  /* margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff; */

/* 
  * {
    margin:o;
    padding: 0;
    box-sizing: border-box;

}
.title {
   grid-area: title;
}
.header {
    grid-area: title;
 }
 .main {
    grid-area: title;
 }
 .footer {
    grid-area: title;
 }
 */

